<h4>Presentation</h4>

<p>Speaker: {{speaker.name}}</p>
<p>Edit Title: {{input value=title class='presentation-title'}}</p>

<p><button type='submit' {{action 'submit'}} class='commit-presentation-change'>Submit</button></p>