<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EmberscWeb</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{BASE_TAG}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/embersc-web.css">
  </head>
  <body>
    <script src="assets/vendor.js"></script>
    <script src="assets/embersc-web.js"></script>
    <script>
      window.EmberscWebENV = require('embersc-web/config/environment')['default'];
      window.EmberENV = window.EmberscWebENV.EmberENV;
      window.EmberscWeb = require('embersc-web/app')['default'].create(EmberscWebENV.APP);
    </script>
  </body>
</html>
