<h4>{{name}}</h4>&nbsp;{{link-to 'Edit' 'speakers.edit' model class="edit-speaker"}}
<button {{action 'remove'}} class="delete-speaker">Delete</button>

<h5>Presentations</h5>
<ul>
    {{#each presentations}}
        <li>{{title}}</li>
    {{/each}}
</ul>